<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<!--@subject {{trans "Erase your %store_name information" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var customer_data.customer_name":"Guest Customer Name"
} @-->

{{template config_path="design/email/header_template"}}
<table border="0" cellspacing="0" width="100%" cellpadding="0">
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "%name," name=$customer_data.customer_name}}</p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <p>{{trans "We have received a request to erase the information associated with your account at %store_name." store_name=$store.getFrontendName()}}</p>
            <p>{{trans 'You can cancel the erase within %delay hours by <a href="%account_url">logging into your account</a>.' delay=$delay account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}</p>
        </td>
    </tr>
    <tr class="help-info">
        <td>
            <p>{{trans 'If you have not authorized this action, please contact us immediately at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}{{depend store_phone}} {{trans 'or call us at <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.</p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
