<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <gdpr>
            <general>
                <enabled>0</enabled>
                <page_id>privacy-policy-cookie-restriction-mode</page_id>
            </general>
            <action>
            </action>
            <anonymize>
                <customer_attributes>
                    <email>
                        <atttribute>email</atttribute>
                        <anonymizer>email</anonymizer>
                    </email>
                    <prefix>
                        <attribute>prefix</attribute>
                        <anonymizer>alphaUpper</anonymizer>
                    </prefix>
                    <firstname>
                        <attribute>firstname</attribute>
                        <anonymizer>anonymous</anonymizer>
                    </firstname>
                    <middlename>
                        <attribute>middlename</attribute>
                        <anonymizer>anonymous</anonymizer>
                    </middlename>
                    <lastname>
                        <attribute>lastname</attribute>
                        <anonymizer>anonymous</anonymizer>
                    </lastname>
                    <suffix>
                        <attribute>suffix</attribute>
                        <anonymizer>alphaUpper</anonymizer>
                    </suffix>
                    <dob>
                        <attribute>dob</attribute>
                        <anonymizer>date</anonymizer>
                    </dob>
                    <gender>
                        <attribute>gender</attribute>
                        <anonymizer>number</anonymizer>
                    </gender>
                    <taxvat>
                        <attribute>taxvat</attribute>
                        <anonymizer>alphaUpper</anonymizer>
                    </taxvat>
                </customer_attributes>
                <customer_address_attributes>
                    <![CDATA[{
                        "_opengento_gdpr_anonymize_caa_0":{"attribute":"city","anonymizer":"alphaUpper"},
                        "_opengento_gdpr_anonymize_caa_1":{"attribute":"company","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_caa_2":{"attribute":"country_id","anonymizer":"nullValue"},
                        "_opengento_gdpr_anonymize_caa_3":{"attribute":"fax","anonymizer":"phone"},
                        "_opengento_gdpr_anonymize_caa_4":{"attribute":"prefix","anonymizer":"alphaUpper"},
                        "_opengento_gdpr_anonymize_caa_5":{"attribute":"firstname","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_caa_6":{"attribute":"lastname","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_caa_7":{"attribute":"middlename","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_caa_8":{"attribute":"suffix","anonymizer":"alphaUpper"},
                        "_opengento_gdpr_anonymize_caa_9":{"attribute":"postcode","anonymizer":"number"},
                        "_opengento_gdpr_anonymize_caa_10":{"attribute":"region","anonymizer":"nullValue"},
                        "_opengento_gdpr_anonymize_caa_11":{"attribute":"street","anonymizer":"street"},
                        "_opengento_gdpr_anonymize_caa_12":{"attribute":"telephone","anonymizer":"phone"},
                        "_opengento_gdpr_anonymize_caa_13":{"attribute":"vat_id","anonymizer":"alphaNum"}
                    }]]>
                </customer_address_attributes>
                <quote_attributes>
                    <![CDATA[{
                        "_opengento_gdpr_anonymize_qa_0":{"attribute":"customer_email","anonymizer":"email"},
                        "_opengento_gdpr_anonymize_qa_1":{"attribute":"customer_prefix","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_qa_2":{"attribute":"customer_firstname","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_qa_3":{"attribute":"customer_middlename","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_qa_4":{"attribute":"customer_lastname","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_qa_5":{"attribute":"customer_suffix","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_qa_6":{"attribute":"customer_dob","anonymizer":"date"},
                        "_opengento_gdpr_anonymize_qa_7":{"attribute":"customer_gender","anonymizer":"number"},
                        "_opengento_gdpr_anonymize_qa_8":{"attribute":"customer_taxvat","anonymizer":"email"},
                        "_opengento_gdpr_anonymize_qa_9":{"attribute":"remote_ip","anonymizer":"alphaNum"}
                    }]]>
                </quote_attributes>
                <quote_address_attributes>
                    <![CDATA[{
                        "_opengento_gdpr_anonymize_qaa_0":{"attribute":"city","anonymizer":"alphaUpper"},
                        "_opengento_gdpr_anonymize_qaa_1":{"attribute":"company","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_qaa_2":{"attribute":"country_id","anonymizer":"nullValue"},
                        "_opengento_gdpr_anonymize_qaa_3":{"attribute":"fax","anonymizer":"phone"},
                        "_opengento_gdpr_anonymize_qaa_4":{"attribute":"email","anonymizer":"email"},
                        "_opengento_gdpr_anonymize_qaa_5":{"attribute":"prefix","anonymizer":"alphaUpper"},
                        "_opengento_gdpr_anonymize_qaa_6":{"attribute":"firstname","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_qaa_7":{"attribute":"lastname","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_qaa_8":{"attribute":"middlename","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_qaa_9":{"attribute":"suffix","anonymizer":"alphaUpper"},
                        "_opengento_gdpr_anonymize_qaa_10":{"attribute":"postcode","anonymizer":"number"},
                        "_opengento_gdpr_anonymize_qaa_11":{"attribute":"region","anonymizer":"nullValue"},
                        "_opengento_gdpr_anonymize_qaa_12":{"attribute":"street","anonymizer":"street"},
                        "_opengento_gdpr_anonymize_qaa_13":{"attribute":"telephone","anonymizer":"phone"},
                        "_opengento_gdpr_anonymize_qaa_14":{"attribute":"vat_id","anonymizer":"alphaNum"}
                    }]]>
                </quote_address_attributes>
                <order_attributes>
                    <![CDATA[{
                        "_opengento_gdpr_anonymize_oa_0":{"attribute":"customer_email","anonymizer":"email"},
                        "_opengento_gdpr_anonymize_oa_1":{"attribute":"customer_prefix","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_oa_2":{"attribute":"customer_firstname","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_oa_3":{"attribute":"customer_middlename","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_oa_4":{"attribute":"customer_lastname","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_oa_5":{"attribute":"customer_suffix","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_oa_6":{"attribute":"customer_dob","anonymizer":"date"},
                        "_opengento_gdpr_anonymize_oa_7":{"attribute":"customer_gender","anonymizer":"number"},
                        "_opengento_gdpr_anonymize_oa_8":{"attribute":"customer_taxvat","anonymizer":"email"},
                        "_opengento_gdpr_anonymize_oa_9":{"attribute":"remote_ip","anonymizer":"alphaNum"},
                        "_opengento_gdpr_anonymize_oa_10":{"attribute":"x_forwarded_for","anonymizer":"anonymous"}
                    }]]>
                </order_attributes>
                <order_address_attributes>
                    <![CDATA[{
                        "_opengento_gdpr_anonymize_oaa_0":{"attribute":"city","anonymizer":"alphaUpper"},
                        "_opengento_gdpr_anonymize_oaa_1":{"attribute":"company","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_oaa_2":{"attribute":"country_id","anonymizer":"nullValue"},
                        "_opengento_gdpr_anonymize_oaa_3":{"attribute":"fax","anonymizer":"phone"},
                        "_opengento_gdpr_anonymize_oaa_4":{"attribute":"email","anonymizer":"email"},
                        "_opengento_gdpr_anonymize_oaa_5":{"attribute":"prefix","anonymizer":"alphaUpper"},
                        "_opengento_gdpr_anonymize_oaa_6":{"attribute":"firstname","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_oaa_7":{"attribute":"lastname","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_oaa_8":{"attribute":"middlename","anonymizer":"anonymous"},
                        "_opengento_gdpr_anonymize_oaa_9":{"attribute":"suffix","anonymizer":"alphaUpper"},
                        "_opengento_gdpr_anonymize_oaa_10":{"attribute":"postcode","anonymizer":"number"},
                        "_opengento_gdpr_anonymize_oaa_11":{"attribute":"region","anonymizer":"nullValue"},
                        "_opengento_gdpr_anonymize_oaa_12":{"attribute":"street","anonymizer":"street"},
                        "_opengento_gdpr_anonymize_oaa_13":{"attribute":"telephone","anonymizer":"phone"},
                        "_opengento_gdpr_anonymize_oaa_14":{"attribute":"vat_id","anonymizer":"alphaNum"}
                    }]]>
                </order_address_attributes>
                <subscriber_attributes>
                    <email>
                        <atttribute>email</atttribute>
                        <anonymizer>email</anonymizer>
                    </email>
                </subscriber_attributes>
            </anonymize>
            <erasure>
                <enabled>0</enabled>
                <delay>3600</delay>
                <entity_schedule>* * * * *</entity_schedule>
                <entity_max_age>1095</entity_max_age>
                <entity_max_age_schedule>0 1 * * *</entity_max_age_schedule>
                <sales_max_age>3650</sales_max_age>
                <allowed_states>canceled,closed,complete</allowed_states>
                <remove_customer>1</remove_customer>
                <customer_components_processors>
                    <customer>
                        <component>customer</component>
                        <processor>anonymize</processor>
                    </customer>
                    <customer_address>
                        <component>customer_address</component>
                        <processor>anonymize</processor>
                    </customer_address>
                    <quote>
                        <component>quote</component>
                        <processor>delete</processor>
                    </quote>
                    <order>
                        <component>order</component>
                        <processor>anonymize</processor>
                    </order>
                    <subscriber>
                        <component>subscriber</component>
                        <processor>delete</processor>
                    </subscriber>
                </customer_components_processors>
                <guest_components_processors>
                    <quote>
                        <component>quote</component>
                        <processor>delete</processor>
                    </quote>
                    <order>
                        <component>order</component>
                        <processor>anonymize</processor>
                    </order>
                    <subscriber>
                        <component>subscriber</component>
                        <processor>delete</processor>
                    </subscriber>
                </guest_components_processors>
            </erasure>
            <export>
                <enabled>0</enabled>
                <renderers>pdf,xml</renderers>
                <file_name>personal_data</file_name>
                <entity_schedule>* * * * *</entity_schedule>
                <life_time>3600</life_time>
                <entity_expired_schedule>* * * * *</entity_expired_schedule>
                <customer_attributes>prefix,firstname,middlename,lastname,suffix,email,dob,gender,taxvat</customer_attributes>
                <customer_address_attributes>prefix,firstname,middlename,lastname,suffix,company,street,city,country_id,province,postcode,fax,telephone,vat_id</customer_address_attributes>
                <quote_attributes>customer_email,customer_prefix,customer_middlename,customer_lastname,customer_suffix,customer_dob,customer_gender,customer_taxvat,remote_ip</quote_attributes>
                <quote_address_attributes>city,company,country_id,fax,email,prefix,firstname,middlename,lastname,suffix,postcode,region,street,telephone,vat_id</quote_address_attributes>
                <order_attributes>customer_email,customer_prefix,customer_middlename,customer_lastname,customer_suffix,customer_dob,customer_gender,customer_taxvat,remote_ip,x_forwarded_for</order_attributes>
                <order_address_attributes>city,company,country_id,fax,email,prefix,firstname,middlename,lastname,suffix,postcode,region,street,telephone,vat_id</order_address_attributes>
                <subscriber_attributes>email</subscriber_attributes>
            </export>
            <notification>
                <general>
                    <enabled>0</enabled>
                </general>
                <erasure>
                    <pending>
                        <customer>
                            <enabled>1</enabled>
                            <template>gdpr_email_erase_pending_template</template>
                            <identity>general</identity>
                            <copy_method>bcc</copy_method>
                        </customer>
                        <order>
                            <enabled>1</enabled>
                            <template>gdpr_email_erase_pending_guest_template</template>
                            <identity>general</identity>
                            <copy_method>bcc</copy_method>
                        </order>
                    </pending>
                    <succeeded>
                        <customer>
                            <enabled>1</enabled>
                            <template>gdpr_email_erase_succeeded_template</template>
                            <identity>general</identity>
                            <copy_method>bcc</copy_method>
                        </customer>
                        <order>
                            <enabled>1</enabled>
                            <template>gdpr_email_erase_succeeded_guest_template</template>
                            <identity>general</identity>
                            <copy_method>bcc</copy_method>
                        </order>
                    </succeeded>
                    <canceled>
                        <customer>
                            <enabled>1</enabled>
                            <template>gdpr_email_erase_canceled_template</template>
                            <identity>general</identity>
                            <copy_method>bcc</copy_method>
                        </customer>
                        <order>
                            <enabled>1</enabled>
                            <template>gdpr_email_erase_canceled_guest_template</template>
                            <identity>general</identity>
                            <copy_method>bcc</copy_method>
                        </order>
                    </canceled>
                </erasure>
                <export>
                    <pending>
                        <customer>
                            <enabled>1</enabled>
                            <template>gdpr_email_export_pending_template</template>
                            <identity>general</identity>
                            <copy_method>bcc</copy_method>
                        </customer>
                        <order>
                            <enabled>1</enabled>
                            <template>gdpr_email_export_pending_guest_template</template>
                            <identity>general</identity>
                            <copy_method>bcc</copy_method>
                        </order>
                    </pending>
                    <ready>
                        <customer>
                            <enabled>1</enabled>
                            <template>gdpr_email_export_ready_template</template>
                            <identity>general</identity>
                            <copy_method>bcc</copy_method>
                        </customer>
                        <order>
                            <enabled>1</enabled>
                            <template>gdpr_email_export_ready_guest_template</template>
                            <identity>general</identity>
                            <copy_method>bcc</copy_method>
                        </order>
                    </ready>
                </export>
            </notification>
        </gdpr>
    </default>
</config>
