<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <gdpr>
            <general>
                <enabled>0</enabled>
                <page_id>privacy-policy-cookie-restriction-mode</page_id>
            </general>
            <anonymize>
                <customer_attributes>
                    <![CDATA[[
                        {"attribute":"email","anonymizer":"email"},
                        {"attribute":"prefix","anonymizer":"alphaUpper"},
                        {"attribute":"firstname","anonymizer":"anonymous"},
                        {"attribute":"middlename","anonymizer":"anonymous"},
                        {"attribute":"lastname","anonymizer":"anonymous"},
                        {"attribute":"suffix","anonymizer":"alphaUpper"},
                        {"attribute":"dob","anonymizer":"date"},
                        {"attribute":"gender","anonymizer":"number"},
                        {"attribute":"taxvat","anonymizer":"alphaNum"}
                    ]]]>
                </customer_attributes>
                <customer_address_attributes>
                    <![CDATA[[
                        {"attribute":"city","anonymizer":"alphaUpper"},
                        {"attribute":"company","anonymizer":"anonymous"},
                        {"attribute":"country_id","anonymizer":"alphaUpper"},
                        {"attribute":"fax","anonymizer":"phone"},
                        {"attribute":"prefix","anonymizer":"alphaUpper"},
                        {"attribute":"firstname","anonymizer":"anonymous"},
                        {"attribute":"lastname","anonymizer":"anonymous"},
                        {"attribute":"middlename","anonymizer":"anonymous"},
                        {"attribute":"suffix","anonymizer":"alphaUpper"},
                        {"attribute":"postcode","anonymizer":"number"},
                        {"attribute":"region","anonymizer":"alphaUpper"},
                        {"attribute":"street","anonymizer":"alphaLower"},
                        {"attribute":"telephone","anonymizer":"phone"},
                        {"attribute":"vat_id","anonymizer":"alphaNum"}
                    ]]]>
                </customer_address_attributes>
                <quote_attributes>
                    <![CDATA[[
                        {"attribute":"customer_email","anonymizer":"email"},
                        {"attribute":"customer_prefix","anonymizer":"anonymous"},
                        {"attribute":"customer_firstname","anonymizer":"anonymous"},
                        {"attribute":"customer_middlename","anonymizer":"anonymous"},
                        {"attribute":"customer_lastname","anonymizer":"anonymous"},
                        {"attribute":"customer_suffix","anonymizer":"anonymous"},
                        {"attribute":"customer_dob","anonymizer":"date"},
                        {"attribute":"customer_gender","anonymizer":"number"},
                        {"attribute":"customer_taxvat","anonymizer":"email"},
                        {"attribute":"remote_ip","anonymizer":"alphaNum"}
                    ]]]>
                </quote_attributes>
                <quote_address_attributes>
                    <![CDATA[[
                        {"attribute":"city","anonymizer":"alphaUpper"},
                        {"attribute":"company","anonymizer":"anonymous"},
                        {"attribute":"country_id","anonymizer":"alphaUpper"},
                        {"attribute":"fax","anonymizer":"phone"},
                        {"attribute":"email","anonymizer":"email"},
                        {"attribute":"prefix","anonymizer":"alphaUpper"},
                        {"attribute":"firstname","anonymizer":"anonymous"},
                        {"attribute":"lastname","anonymizer":"anonymous"},
                        {"attribute":"middlename","anonymizer":"anonymous"},
                        {"attribute":"suffix","anonymizer":"alphaUpper"},
                        {"attribute":"postcode","anonymizer":"number"},
                        {"attribute":"region","anonymizer":"alphaUpper"},
                        {"attribute":"street","anonymizer":"alphaLower"},
                        {"attribute":"telephone","anonymizer":"phone"},
                        {"attribute":"vat_id","anonymizer":"alphaNum"}
                    ]]]>
                </quote_address_attributes>
                <order_attributes>
                    <![CDATA[[
                        {"attribute":"customer_email","anonymizer":"email"},
                        {"attribute":"customer_prefix","anonymizer":"anonymous"},
                        {"attribute":"customer_firstname","anonymizer":"anonymous"},
                        {"attribute":"customer_middlename","anonymizer":"anonymous"},
                        {"attribute":"customer_lastname","anonymizer":"anonymous"},
                        {"attribute":"customer_suffix","anonymizer":"anonymous"},
                        {"attribute":"customer_dob","anonymizer":"date"},
                        {"attribute":"customer_gender","anonymizer":"number"},
                        {"attribute":"customer_taxvat","anonymizer":"email"},
                        {"attribute":"remote_ip","anonymizer":"alphaNum"},
                        {"attribute":"x_forwarded_for","anonymizer":"anonymous"}
                    ]]]>
                </order_attributes>
                <order_address_attributes>
                    <![CDATA[[
                        {"attribute":"city","anonymizer":"alphaUpper"},
                        {"attribute":"company","anonymizer":"anonymous"},
                        {"attribute":"country_id","anonymizer":"alphaUpper"},
                        {"attribute":"fax","anonymizer":"phone"},
                        {"attribute":"email","anonymizer":"email"},
                        {"attribute":"prefix","anonymizer":"alphaUpper"},
                        {"attribute":"firstname","anonymizer":"anonymous"},
                        {"attribute":"lastname","anonymizer":"anonymous"},
                        {"attribute":"middlename","anonymizer":"anonymous"},
                        {"attribute":"suffix","anonymizer":"alphaUpper"},
                        {"attribute":"postcode","anonymizer":"number"},
                        {"attribute":"region","anonymizer":"alphaUpper"},
                        {"attribute":"street","anonymizer":"alphaLower"},
                        {"attribute":"telephone","anonymizer":"phone"},
                        {"attribute":"vat_id","anonymizer":"alphaNum"}
                    ]]]>
                </order_address_attributes>
                <subscriber_attributes>
                    <![CDATA[[
                        {"attribute":"email","anonymizer":"email"}
                    ]]]>
                </subscriber_attributes>
            </anonymize>
            <erasure>
                <enabled>0</enabled>
                <strategy>anonymize</strategy>
                <time_lapse>3600</time_lapse>
                <schedule>* * * * *</schedule>
                <remove_customer>1</remove_customer>
                <components>customer_address,subscriber</components>
            </erasure>
            <export>
                <enabled>0</enabled>
                <renderer>html</renderer>
                <customer_attributes>prefix,firstname,middlename,lastname,suffix,email,dob,gender,taxvat</customer_attributes>
                <customer_address_attributes>prefix,firstname,middlename,lastname,suffix,company,street,city,country_id,province,postcode,fax,telephone,vat_id</customer_address_attributes>
                <quote_attributes>customer_email,customer_prefix,customer_middlename,customer_lastname,customer_suffix,customer_dob,customer_gender,customer_taxvat,remote_ip</quote_attributes>
                <order_attributes>customer_email,customer_prefix,customer_middlename,customer_lastname,customer_suffix,customer_dob,customer_gender,customer_taxvat,remote_ip,x_forwarded_for</order_attributes>
                <subscriber_attributes>email</subscriber_attributes>
            </export>
        </gdpr>
    </default>
</config>
