<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <gdpr>
            <general>
                <enabled>0</enabled>
            </general>
            <erasure>
                <enabled>0</enabled>
                <strategy>anonymize</strategy>
                <time_lapse>3600</time_lapse>
                <schedule>* * * * *</schedule>
                <components>customer_address,subscriber</components>
            </erasure>
            <export>
                <enabled>0</enabled>
                <renderer>html</renderer>
                <customer_attributes>prefix,firstname,middlename,lastname,suffix,email,dob,gender,taxvat</customer_attributes>
                <customer_address_attributes>prefix,firstname,middlename,lastname,suffix,company,street,city,country_id,province,postcode,fax,telephone,vat_id</customer_address_attributes>
            </export>
        </gdpr>
    </default>
</config>
