<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- ACL & Authorization -->
    <type name="Opengento\Gdpr\Controller\AbstractPrivacy">
        <plugin name="check_is_module_enabled" type="Opengento\Gdpr\Plugin\Controller\PrivacyActionPlugin" sortOrder="0" />
    </type>
    <type name="Opengento\Gdpr\Controller\Privacy\Delete">
        <plugin name="check_is_delete_available" type="Opengento\Gdpr\Plugin\Controller\PrivacyActionPlugin" sortOrder="0" />
    </type>
    <type name="Opengento\Gdpr\Controller\Privacy\DeletePost">
        <plugin name="check_is_delete_allowed" type="Opengento\Gdpr\Plugin\Controller\PrivacyActionPlugin" sortOrder="0" />
    </type>
    <type name="Opengento\Gdpr\Controller\Privacy\UndoDelete">
        <plugin name="check_is_undo_allowed" type="Opengento\Gdpr\Plugin\Controller\PrivacyActionPlugin" sortOrder="0" />
    </type>
    <!-- Anonymize Management -->
    <virtualType name="Opengento\Gdpr\Service\Anonymize\ProcessorPool" type="Magento\Framework\ObjectManager\TMap">
        <arguments>
            <argument name="type" xsi:type="string">Opengento\Gdpr\Service\Anonymize\ProcessorInterface</argument>
            <argument name="array" xsi:type="array">
                <!-- todo -->
            </argument>
        </arguments>
    </virtualType>
    <type name="Opengento\Gdpr\Service\AnonymizeManagement">
        <arguments>
            <argument name="processorPool" xsi:type="object">Opengento\Gdpr\Service\Anonymize\ProcessorPool</argument>
        </arguments>
    </type>
    <!-- Delete Management -->
    <virtualType name="Opengento\Gdpr\Service\Delete\ProcessorPool" type="Magento\Framework\ObjectManager\TMap">
        <arguments>
            <argument name="type" xsi:type="string">Opengento\Gdpr\Service\Delete\ProcessorInterface</argument>
            <argument name="array" xsi:type="array">
                <item name="customer_data" xsi:type="string">Opengento\Gdpr\Service\Delete\CustomerDataProcessor</item>
                <!-- todo -->
            </argument>
        </arguments>
    </virtualType>
    <type name="Opengento\Gdpr\Service\DeleteManagement">
        <arguments>
            <argument name="processorPool" xsi:type="object">Opengento\Gdpr\Service\Delete\ProcessorPool</argument>
        </arguments>
    </type>
    <!-- Erasure Strategy -->
    <type name="Opengento\Gdpr\Service\ErasureStrategy">
        <arguments>
            <argument name="processorNames" xsi:type="array">
                <!-- todo -->
            </argument>
        </arguments>
    </type>
    <!-- Export Management -->
    <virtualType name="Opengento\Gdpr\Service\Export\ProcessorPool" type="Magento\Framework\ObjectManager\TMap">
        <arguments>
            <argument name="type" xsi:type="string">Opengento\Gdpr\Service\Export\ProcessorInterface</argument>
            <argument name="array" xsi:type="array">
                <item name="customer_data" xsi:type="string">Opengento\Gdpr\Service\Export\CustomerDataProcessor</item>
                <item name="customer_address_data" xsi:type="string">Opengento\Gdpr\Service\Export\CustomerAddressDataProcessor</item>
                <item name="sales" xsi:type="string">Opengento\Gdpr\Service\Export\SalesDataProcessor</item>
                <item name="subscriber" xsi:type="string">Opengento\Gdpr\Service\Export\SubscriberProcessor</item>
                <!-- todo -->
            </argument>
        </arguments>
    </virtualType>
    <type name="Opengento\Gdpr\Service\ExportManagement">
        <arguments>
            <argument name="processorPool" xsi:type="object">Opengento\Gdpr\Service\Export\ProcessorPool</argument>
        </arguments>
    </type>
</config>
