<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Opengento_Gdpr">
        <sequence>
            <module name="Magento_Theme"/>
            <module name="Magento_Config"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Quote"/>
            <module name="Magento_Sales"/>
            <module name="Magento_Review"/>
            <module name="Magento_Email"/>
            <module name="Magento_Newsletter"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Cms"/>
        </sequence>
    </module>
</config>
