<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Opengento\Gdpr\Model\Action\PerformedByInterface" type="Opengento\Gdpr\Model\Action\PerformedBy\FrontUser"/>
    <preference for="Opengento\Gdpr\Api\EraseEntityManagementInterface" type="Opengento\Gdpr\Model\Erase\SecureEraseEntityManagement"/>
    <type name="Opengento\Gdpr\Controller\AbstractPrivacy">
        <plugin name="customer_account" type="Magento\Customer\Controller\Plugin\Account"/>
    </type>
    <type name="Opengento\Gdpr\Controller\AbstractGuest">
        <arguments>
            <argument name="orderLoader" xsi:type="object">Magento\Sales\Controller\Guest\OrderLoader</argument>
        </arguments>
    </type>
    <type name="Opengento\Gdpr\Controller\Privacy\ErasePost">
        <arguments>
            <argument name="action" xsi:type="object">Opengento\Gdpr\Model\Action\EraseCreateAction</argument>
        </arguments>
    </type>
    <type name="Opengento\Gdpr\Controller\Guest\Erase">
        <arguments>
            <argument name="action" xsi:type="object">Opengento\Gdpr\Model\Action\EraseCreateAction</argument>
        </arguments>
    </type>
    <type name="Opengento\Gdpr\Controller\Privacy\UndoErase">
        <arguments>
            <argument name="action" xsi:type="object">Opengento\Gdpr\Model\Action\EraseCancelAction</argument>
        </arguments>
    </type>
    <type name="Opengento\Gdpr\Controller\Guest\UndoErase">
        <arguments>
            <argument name="action" xsi:type="object">Opengento\Gdpr\Model\Action\EraseCancelAction</argument>
        </arguments>
    </type>
    <type name="Opengento\Gdpr\Controller\Privacy\Export">
        <arguments>
            <argument name="action" xsi:type="object">Opengento\Gdpr\Model\Action\ExportCreateAction</argument>
        </arguments>
    </type>
    <type name="Opengento\Gdpr\Controller\Guest\Export">
        <arguments>
            <argument name="action" xsi:type="object">Opengento\Gdpr\Model\Action\ExportCreateAction</argument>
        </arguments>
    </type>
</config>
