<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Opengento\Gdpr\Controller\Adminhtml\Action\InlineEdit">
        <arguments>
            <argument name="allowedAttributes" xsi:type="array">
                <item name="scheduled_at" xsi:type="const">Opengento\Gdpr\Api\Data\ActionEntityInterface::SCHEDULED_AT</item>
                <item name="message" xsi:type="const">Opengento\Gdpr\Api\Data\ActionEntityInterface::MESSAGE</item>
                <item name="parameters" xsi:type="const">Opengento\Gdpr\Api\Data\ActionEntityInterface::PARAMETERS</item>
            </argument>
        </arguments>
    </type>
    <type name="Opengento\Gdpr\Controller\Adminhtml\Privacy\Erase">
        <arguments>
            <argument name="action" xsi:type="object">Opengento\Gdpr\Model\Action\Erase\CreateExecute</argument><!-- todo use secure eraser -->
        </arguments>
    </type>
    <type name="Opengento\Gdpr\Controller\Adminhtml\Guest\Erase">
        <arguments>
            <argument name="action" xsi:type="object">Opengento\Gdpr\Model\Action\Erase\CreateExecute</argument><!-- todo use secure eraser -->
        </arguments>
    </type>
    <type name="Opengento\Gdpr\Controller\Adminhtml\Privacy\MassErase">
        <arguments>
            <argument name="action" xsi:type="object">Opengento\Gdpr\Model\Action\Erase\CreateExecute</argument>
        </arguments>
    </type>
    <type name="Opengento\Gdpr\Controller\Adminhtml\Privacy\Export">
        <arguments>
            <argument name="action" xsi:type="object">Opengento\Gdpr\Model\Action\Export\CreateOrExecute</argument>
        </arguments>
    </type>
    <type name="Opengento\Gdpr\Controller\Adminhtml\Guest\Export">
        <arguments>
            <argument name="action" xsi:type="object">Opengento\Gdpr\Model\Action\Export\CreateOrExecute</argument>
        </arguments>
    </type>
    <type name="Opengento\Gdpr\Controller\Adminhtml\Privacy\MassExport">
        <arguments>
            <argument name="action" xsi:type="object">Opengento\Gdpr\Model\Action\Export\CreateOrExecute</argument>
            <argument name="moveToArchive" xsi:type="object">Opengento\Gdpr\Model\Archive\MoveToZip</argument>
        </arguments>
    </type>
    <!-- Config Settings -->
    <virtualType name="Opengento\Gdpr\Model\Config\Source\EntityAttributes" type="Opengento\Gdpr\Model\Config\Source\VirtualEntityAttributes">
        <arguments>
            <argument name="attributeProvider" xsi:type="object">Magento\Framework\Model\EntitySnapshot\AttributeProvider</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Model\Config\Source\CustomerAttributes" type="Opengento\Gdpr\Model\Config\Source\VirtualCustomerAttributes">
        <arguments>
            <argument name="metadata" xsi:type="object">Magento\Customer\Api\CustomerMetadataInterface</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Model\Config\Source\CustomerAddressAttributes" type="Opengento\Gdpr\Model\Config\Source\VirtualCustomerAttributes">
        <arguments>
            <argument name="metadata" xsi:type="object">Magento\Customer\Api\AddressMetadataInterface</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Model\Config\Source\ExportRenderer" type="Opengento\Gdpr\Model\Config\Source\VirtualArrayArgumentList">
        <arguments>
            <argument name="className" xsi:type="string">Opengento\Gdpr\Service\Export\RendererFactory</argument>
            <argument name="argumentName" xsi:type="string">renderers</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Model\Config\Source\Anonymizers" type="Opengento\Gdpr\Model\Config\Source\VirtualArrayArgumentList">
        <arguments>
            <argument name="className" xsi:type="string">Opengento\Gdpr\Service\Anonymize\AnonymizerFactory</argument>
            <argument name="argumentName" xsi:type="string">anonymizers</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Model\Config\Source\EraseProcessors" type="Opengento\Gdpr\Model\Config\Source\VirtualArrayArgumentList">
        <arguments>
            <argument name="className" xsi:type="string">Opengento\Gdpr\Service\Erase\ProcessorFactory</argument>
            <argument name="argumentName" xsi:type="string">erasers</argument>
        </arguments>
    </virtualType>
    <type name="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\EraseComponents">
        <arguments>
            <argument name="eraseComponentSource" xsi:type="object">Opengento\Gdpr\Model\Config\Source\Customer\EraseComponents</argument>
        </arguments>
    </type>
    <virtualType name="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\Anonymizers" type="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\OptionSourceSelect">
        <arguments>
            <argument name="optionSource" xsi:type="object">Opengento\Gdpr\Model\Config\Source\Anonymizers</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\EraseProcessors" type="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\OptionSourceSelect">
        <arguments>
            <argument name="optionSource" xsi:type="object">Opengento\Gdpr\Model\Config\Source\EraseProcessors</argument>
        </arguments>
    </virtualType>
</config>
