<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Config Settings -->
    <virtualType name="Opengento\Gdpr\Model\Config\Source\EntityAttributes" type="Opengento\Gdpr\Model\Config\Source\VirtualEntityAttributes">
        <arguments>
            <argument name="attributeProvider" xsi:type="object">Magento\Framework\Model\EntitySnapshot\AttributeProvider</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Model\Config\Source\CustomerAttributes" type="Opengento\Gdpr\Model\Config\Source\VirtualCustomerAttributes">
        <arguments>
            <argument name="metadata" xsi:type="object">Magento\Customer\Api\CustomerMetadataInterface</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Model\Config\Source\CustomerAddressAttributes" type="Opengento\Gdpr\Model\Config\Source\VirtualCustomerAttributes">
        <arguments>
            <argument name="metadata" xsi:type="object">Magento\Customer\Api\AddressMetadataInterface</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Model\Config\Source\ExportRenderer" type="Opengento\Gdpr\Model\Config\Source\VirtualArrayArgumentList">
        <arguments>
            <argument name="className" xsi:type="string">Opengento\Gdpr\Service\Export\RendererFactory</argument>
            <argument name="argumentName" xsi:type="string">renderers</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Model\Config\Source\Anonymizers" type="Opengento\Gdpr\Model\Config\Source\VirtualArrayArgumentList">
        <arguments>
            <argument name="className" xsi:type="string">Opengento\Gdpr\Service\Anonymize\AnonymizerFactory</argument>
            <argument name="argumentName" xsi:type="string">anonymizers</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Model\Config\Source\Customer\EraseProcessors" type="Opengento\Gdpr\Model\Config\Source\VirtualArrayArgumentList">
        <arguments>
            <argument name="className" xsi:type="string">Opengento\Gdpr\Model\Customer\Erase\ProcessorResolverFactory</argument>
            <argument name="argumentName" xsi:type="string">processorResolvers</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Model\Config\Source\Order\EraseProcessors" type="Opengento\Gdpr\Model\Config\Source\VirtualArrayArgumentList">
        <arguments>
            <argument name="className" xsi:type="string">Opengento\Gdpr\Model\Customer\Erase\ProcessorResolverFactory</argument>
            <argument name="argumentName" xsi:type="string">processorResolvers</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\Anonymizers" type="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\OptionSourceSelect">
        <arguments>
            <argument name="optionSource" xsi:type="object">Opengento\Gdpr\Model\Config\Source\Anonymizers</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\Customer\EraseComponents" type="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\OptionSourceSelect">
        <arguments>
            <argument name="optionSource" xsi:type="object">Opengento\Gdpr\Model\Config\Source\Customer\EraseComponents</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\Order\EraseComponents" type="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\OptionSourceSelect">
        <arguments>
            <argument name="optionSource" xsi:type="object">Opengento\Gdpr\Model\Config\Source\Order\EraseComponents</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\Customer\EraseProcessors" type="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\OptionSourceSelect">
        <arguments>
            <argument name="optionSource" xsi:type="object">Opengento\Gdpr\Model\Config\Source\Customer\EraseProcessors</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\Order\EraseProcessors" type="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\OptionSourceSelect">
        <arguments>
            <argument name="optionSource" xsi:type="object">Opengento\Gdpr\Model\Config\Source\Order\EraseProcessors</argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Customer\EraseComponentsProcessors" type="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\EraseComponentsProcessors">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="erase_components_select" xsi:type="string">Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\Customer\EraseComponents</item>
                <item name="erase_processors_select" xsi:type="string">Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\Customer\EraseProcessors</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Order\EraseComponentsProcessors" type="Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\EraseComponentsProcessors">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="erase_components_select" xsi:type="string">Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\Order\EraseComponents</item>
                <item name="erase_processors_select" xsi:type="string">Opengento\Gdpr\Block\Adminhtml\Config\Form\Field\Select\Order\EraseProcessors</item>
            </argument>
        </arguments>
    </virtualType>
</config>
