<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Opengento_Gdpr::gdpr" title="GDPR" translate="title" module="Opengento_Gdpr" resource="Opengento_Gdpr::gdpr" parent="Magento_Backend::stores" sortOrder="100"/>
        <add id="Opengento_Gdpr::gdpr_actions" title="Actions" translate="title" module="Opengento_Gdpr" action="gdpr/action/index" resource="Opengento_Gdpr::gdpr_actions" parent="Opengento_Gdpr::gdpr" sortOrder="10"/>
    </menu>
</config>
