<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="customer">
            <module name="Opengento_Gdpr" after="Magento_Customer"/>
        </route>
        <route id="sales">
            <module name="Opengento_Gdpr" after="Magento_Sales"/>
        </route>
    </router>
</config>
