<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customer">
            <group id="gdpr" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Privacy (GDPR)</label>
                <!-- Global Settings -->
                <include path="Opengento_Gdpr::system/general.xml" />
                <!-- Erasure Settings -->
                <include path="Opengento_Gdpr::system/erasure.xml" />
                <!-- Export Settings -->
                <include path="Opengento_Gdpr::system/export.xml" />
                <!-- Cookie Settings -->
                <include path="Opengento_Gdpr::system/cookie.xml" />
            </group>
        </section>
    </system>
</config>
